# --------------------
# Java / Spring Boot
# --------------------
*.class
*.jar
*.war
*.ear
target/
bin/
build/
*.log
hs_err_pid*

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.c9/
.settings/
.metadata/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# --------------------
# Node / Angular
# --------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env

# Angular build output
dist/
.angular/
coverage/
